Source/pdex.elf
Source/pdex.so
build/
Cascade.pdx
editor/.godot/

*.import

Source/images/useTheCrank.pdn

Source/images/tutorial.pdn

Source/images/buttonPressed.pdn

Source/images/button.pdn

Source/images/crank_clockwise.pdn

Source/images/dPad.pdn

Source/images/crankSpin.pdn

Source/images/previewBorder.pdn

promo/.~lock.Credits.odg#
